.vscode
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles
**/*.wasm
**/*.abi
**/node_modules
client/dist
client/node_modules
tools/node_modules
gyftie-mainnet
**/node_modules
trx.json
package-lock.json
deployments.sh
jungle_test.txt
gyftie.sh